<input type="search" ng-model="q" placeholder="Filter the cards" aria-label="Filter the cards" class="input-search form-control" />
<div class="images-nav-active">
  <h3 class="text-uppercase text-center">Choose a card from the deck </h3>
  <ul class="nav nav-pills nav-justified nav-images-page">
    <li class="active" ng-click="cardsInfo('all')"><a data-toggle="pill" data-target="#allCards">All</a></li>
    <li ng-click="cardsInfo('spell')"><a data-toggle="pill" data-target="#special">Spells</a></li>
    <li ng-click="cardsInfo('trap')"><a  data-toggle="pill" data-target="#special">Trap</a></li>
    <li ng-click="cardsInfo('other')"><a data-toggle="pill" data-target="#special">Monster</a></li>
</ul>
</div>
<div class="tab-content">
<span id="allCards" class="animate-container tab-pane fade in active">
    <span class="animate-repeat" ng-repeat="card in cards | filter:q">
      <button class="back-face-image"  type="button" ng-click="cardDescr(card)" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg"><img width="200" ng-src="http://52.57.88.137/api/card_image/{{card}}" /></button>
    </span>
</span> 

<span id="special" class="animate-container tab-pane fade">
  <span class="animate-repeat" ng-repeat="card in filtered | filter:q">
    <button class="back-face-image"  type="button" ng-click="cardDescr(card.name)" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg"><img width="200" ng-src="http://52.57.88.137/api/card_image/{{card.name}}" /></button>
  </span>
</span>
</div>
<div class="modal fade bs-example-modal-lg" id="details" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="modalDisabled" data-dismiss="modal">&times;</button>
        <h3 class="modal-title text-uppercase text-center">{{cardDesc.name}}</h3>
      </div>
      <div class="modal-body">
       <div class="row">
         <div class="col-xs-4" ng-if="modalEnabled">
           <img  width="200" id="back-face-modal" ng-src="http://52.57.88.137/api/card_image/{{cardDesc.name}}" />
         </div>

         <div class="col-xs-7 responsive-modal">
          <div>
            <div ><b> Description </b> </div>
            <div> {{cardDesc.text}} </div>
          </div>

          <div class="row">
            <div class="col-xs-4"> 
              <div ng-if="cardDesc.card_type">
                <div  class="card-details"> <b> Card Type </b> </div>
                <div> {{cardDesc.card_type}} </div>
              </div>

              <div  ng-if="cardDesc.type">
                <div  class="card-details"> <b> Type </b> </div>
                <div> {{cardDesc.type}} </div>
              </div>

              <div ng-if="cardDesc.family">
                <div  class="card-details"> <b> Family </b> </div>
                <div> {{cardDesc.family}} </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div ng-if="cardDesc.atk">
              <div  class="card-details"> <b> Attack </b> </div>
              <div> {{cardDesc.atk}} </div>
              </div>
              <div ng-if="cardDesc.def">
                <div  class="card-details"> <b> Defence </b> </div>
                <div> {{cardDesc.def}} </div>
              </div>     
              <div ng-if="cardDesc.Level">
                <div  class="card-details"> <b> Level </b> </div>
                <div> {{cardDesc.level}} </div>
              </div> 
              <div ng-if="cardDesc.property">
                <div  class="card-details"> <b> Property </b> </div>
                <div> {{cardDesc.property}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
