<div class="row">
  <div class="col-xs-4 names-responsive">
    <div ui-view="column-list"></div>
    </div>
    <div class="col-sm-6 details-responsive">
        <div ui-view="column-details"></div>
    </div>
</div>