<div class="listing-cards">
    <div  ng-repeat="card in cardData">
        <button class="btn btn-default btn-block small" ng-click="cardDetails(card.name)"><a ng-click="gotoBottom()">{{card.name}}  <span class="card-type">{{card.card_type}} </span></a></button>
    </div>
</div>