  <div class="cards-back" ng-if="!current">
    <h2 class="card-title text-uppercase"> Choose a card from the deck</h2>
      <img class="back-face" width="200" ng-src="http://vignette3.wikia.nocookie.net/yugioh/images/9/94/Back-Anime-2.png/revision/latest?cb=20110624090942"/>
      <img width="270" ng-src="http://uploads3.yugioh.com/character/3/detail/detail/yamiyugi-l.png?1371744397"/> 
  </div>
  <div class="row back-face" ng-if="current">
  <h2 class="text-uppercase card-title"> {{cardDesc.name}}  </h2>
  <div class="col-sm-4 image-container">
    <img width="200" ng-src="http://52.57.88.137/api/card_image/{{current}}"/>
  </div>
  <div class="col-sm-8 responsive-col"  id="card">
    <div>
      <div  class="card-details"><b> Description </b> </div>
      <div> {{cardDesc.text}} </div>
    </div>

     <div class="row">
      <div class="col-xs-5"> 
        <div ng-if="cardDesc.card_type">
        <div  class="card-details"> <b> Card Type </b> </div>
        <div> {{cardDesc.card_type}} </div>
      </div>

      <div  ng-if="cardDesc.type">
        <div  class="card-details"> <b> Type </b> </div>
        <div> {{cardDesc.type}} </div>
      </div>

        <div ng-if="cardDesc.family">
          <div  class="card-details"> <b> Family </b> </div>
          <div> {{cardDesc.family}} </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div ng-if="cardDesc.atk">
          <div  class="card-details"> <b> Attack </b> </div>
          <div> {{cardDesc.atk}} </div>
        </div>
        <div ng-if="cardDesc.def">
          <div  class="card-details"> <b> Defence </b> </div>
          <div> {{cardDesc.def}} </div>
        </div>     
        <div ng-if="cardDesc.Level">
          <div  class="card-details"> <b> Level </b> </div>
          <div> {{cardDesc.level}} </div>
        </tr>
        <div ng-if="cardDesc.property">
          <div  class="card-details"> <b> Property </b> </div>
          <div> {{cardDesc.property}} </div>
        </div>
      </div>
    </div>
  </div>
</div>
