.container {
  margin-left: 5% !important;
  margin-right: 5% !important;
  width: 95% !important;
}

.card-type {
  float: right;
  border: 1px solid #222;
  color: #222;
  padding-left: 1% ;
  padding-right: 1%;
  width: 20%;
}

.card-details {
  font-size: 0.9em;
  padding-top: 3%;
}

.listing-cards {
  overflow-y: auto;
  height: 60vh;
}

.card-title {
  margin-top: 0 !important;
}

.navigation-bar {
  margin-bottom: 0 !important;
}

.back-face {
  margin-right: 5%;
}

.input-search {
  width: 98% !important;
}

#back-face-modal {
  margin-left: 7%;
}

.nav-pills > li.active > a {
  background-color: #9AA0A8 !important;
}

.nav-images-page {
  width: 98% !important;
  margin-bottom: 2% !important;
}

.jumbotron {
  background-color: #F2930E !important;
}

body {
  background-color: #eee !important;
  position: relative;
}

.image-container {
  width: auto !important;
}

.details-responsive {
  width: 66% !important;
}

/* tablet css */
@media screen and (max-width: 1020px) {
  .responsive-col {
    width: 100% !important;
  }

  .details-responsive {
    width: 33% !important;
  }

  .names-responsive {
    width: 37% !important;
  }

  .responsive-modal {
    padding-left: 5% !important;
  }
}
/* mobile css*/
@media screen and (max-width: 800px) {
  .names-responsive {
    width: 90% !important;
    float: left;
    margin-left: 3%;
  }

  .details-responsive {
    width: 80% !important;
    float: left;
    margin-left: 3%;
  }

  .cards-back {
    margin-left: 3%;
  }

  .responsive-modal {
    padding-left: 5% !important;
  }

  .navbar-nav {
    margin: 7.5px 15px !important;
  }

  .card-title {
    text-align: center !important;
  }

  .back-face {
    margin-left: 10% !important;
  }

  .navbar-brand {
    width: 100% !important;
  }

  .navbar-inverse {
    text-align: center;
  }

  .responsive-modal {
    width: 100% !important;
  }
  
  #back-face-modal {
    margin-left: 70% !important;
  }

  .back-face-image {
    margin-left: 15% !important;
  }

  .input-search {
    width: 100% !important;
  }

  .listing-cards {
    height: 680px;
  }

}